<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yale.zc.pay.dao.FqlPaymentLogMapper">
  <resultMap id="BaseResultMap" type="com.yale.zc.pay.bean.FqlPaymentLog">
    <id column="id_" jdbcType="VARCHAR" property="id" />
    <result column="amount_" jdbcType="BIGINT" property="amount" />
    <result column="receive_time_" jdbcType="BIGINT" property="receiveTime" />
    <result column="complete_time_" jdbcType="BIGINT" property="completeTime" />
    <result column="merch_id_" jdbcType="VARCHAR" property="merchId" />
    <result column="charge_id_" jdbcType="VARCHAR" property="chargeId" />
    <result column="order_no_" jdbcType="VARCHAR" property="orderNo" />
    <result column="ret_code_" jdbcType="VARCHAR" property="retCode" />
    <result column="ret_info_" jdbcType="VARCHAR" property="retInfo" />
    <result column="optional_" jdbcType="VARCHAR" property="optional" />
    <result column="version_" jdbcType="VARCHAR" property="version" />
    <result column="sign_type_" jdbcType="VARCHAR" property="signType" />
    <result column="sign_info_" jdbcType="VARCHAR" property="signInfo" />
    <result column="created_at_" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at_" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id_, amount_, receive_time_, complete_time_, merch_id_, charge_id_, order_no_, ret_code_, 
    ret_info_, optional_, version_, sign_type_, sign_info_, created_at_, updated_at_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fql_payment_log
    where id_ = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fql_payment_log
    where order_no_ = #{orderNo,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from fql_payment_log
    where id_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yale.zc.pay.bean.FqlPaymentLog">
    insert into fql_payment_log (id_, amount_, receive_time_, 
      complete_time_, merch_id_, charge_id_, 
      order_no_, ret_code_, ret_info_, 
      optional_, version_, sign_type_, 
      sign_info_, created_at_, updated_at_
      )
    values (#{id,jdbcType=VARCHAR}, #{amount,jdbcType=BIGINT}, #{receiveTime,jdbcType=BIGINT}, 
      #{completeTime,jdbcType=BIGINT}, #{merchId,jdbcType=VARCHAR}, #{chargeId,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{retCode,jdbcType=VARCHAR}, #{retInfo,jdbcType=VARCHAR}, 
      #{optional,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{signType,jdbcType=VARCHAR}, 
      #{signInfo,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yale.zc.pay.bean.FqlPaymentLog">
    insert into fql_payment_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id_,
      </if>
      <if test="amount != null">
        amount_,
      </if>
      <if test="receiveTime != null">
        receive_time_,
      </if>
      <if test="completeTime != null">
        complete_time_,
      </if>
      <if test="merchId != null">
        merch_id_,
      </if>
      <if test="chargeId != null">
        charge_id_,
      </if>
      <if test="orderNo != null">
        order_no_,
      </if>
      <if test="retCode != null">
        ret_code_,
      </if>
      <if test="retInfo != null">
        ret_info_,
      </if>
      <if test="optional != null">
        optional_,
      </if>
      <if test="version != null">
        version_,
      </if>
      <if test="signType != null">
        sign_type_,
      </if>
      <if test="signInfo != null">
        sign_info_,
      </if>
      <if test="createdAt != null">
        created_at_,
      </if>
      <if test="updatedAt != null">
        updated_at_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=BIGINT},
      </if>
      <if test="completeTime != null">
        #{completeTime,jdbcType=BIGINT},
      </if>
      <if test="merchId != null">
        #{merchId,jdbcType=VARCHAR},
      </if>
      <if test="chargeId != null">
        #{chargeId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="retCode != null">
        #{retCode,jdbcType=VARCHAR},
      </if>
      <if test="retInfo != null">
        #{retInfo,jdbcType=VARCHAR},
      </if>
      <if test="optional != null">
        #{optional,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        #{signType,jdbcType=VARCHAR},
      </if>
      <if test="signInfo != null">
        #{signInfo,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yale.zc.pay.bean.FqlPaymentLog">
    update fql_payment_log
    <set>
      <if test="amount != null">
        amount_ = #{amount,jdbcType=BIGINT},
      </if>
      <if test="receiveTime != null">
        receive_time_ = #{receiveTime,jdbcType=BIGINT},
      </if>
      <if test="completeTime != null">
        complete_time_ = #{completeTime,jdbcType=BIGINT},
      </if>
      <if test="merchId != null">
        merch_id_ = #{merchId,jdbcType=VARCHAR},
      </if>
      <if test="chargeId != null">
        charge_id_ = #{chargeId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no_ = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="retCode != null">
        ret_code_ = #{retCode,jdbcType=VARCHAR},
      </if>
      <if test="retInfo != null">
        ret_info_ = #{retInfo,jdbcType=VARCHAR},
      </if>
      <if test="optional != null">
        optional_ = #{optional,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version_ = #{version,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        sign_type_ = #{signType,jdbcType=VARCHAR},
      </if>
      <if test="signInfo != null">
        sign_info_ = #{signInfo,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at_ = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at_ = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yale.zc.pay.bean.FqlPaymentLog">
    update fql_payment_log
    set amount_ = #{amount,jdbcType=BIGINT},
      receive_time_ = #{receiveTime,jdbcType=BIGINT},
      complete_time_ = #{completeTime,jdbcType=BIGINT},
      merch_id_ = #{merchId,jdbcType=VARCHAR},
      charge_id_ = #{chargeId,jdbcType=VARCHAR},
      order_no_ = #{orderNo,jdbcType=VARCHAR},
      ret_code_ = #{retCode,jdbcType=VARCHAR},
      ret_info_ = #{retInfo,jdbcType=VARCHAR},
      optional_ = #{optional,jdbcType=VARCHAR},
      version_ = #{version,jdbcType=VARCHAR},
      sign_type_ = #{signType,jdbcType=VARCHAR},
      sign_info_ = #{signInfo,jdbcType=VARCHAR},
      created_at_ = #{createdAt,jdbcType=TIMESTAMP},
      updated_at_ = #{updatedAt,jdbcType=TIMESTAMP}
    where id_ = #{id,jdbcType=VARCHAR}
  </update>
</mapper>