<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yale.zc.funding.dao.FundingLinkMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.yale.zc.funding.bean.FundingLink" id="fundingLinkMap">
        <result property="id" column="id"/>
        <result property="fundingId" column="funding_id"/>
        <result property="linkUrl" column="link_url"/>
        <result property="type" column="type"/>
        <result property="desc" column="desc"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

	<select id="queryObject" resultType="com.yale.zc.funding.bean.FundingLink">
		select * from funding_link where id = #{value}
	</select>

	<select id="queryList" resultType="com.yale.zc.funding.bean.FundingLink">
		select * from funding_link
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>


	<select id="queryByFundingId" resultType="com.yale.zc.funding.bean.FundingLink">
		select * from funding_link where funding_id = #{value}
	</select>

 	<select id="queryTotal" resultType="int">
		select count(*) from funding_link 
	</select>
	 
	<insert id="save" parameterType="com.yale.zc.funding.bean.FundingLink">
		insert into funding_link
		(
			`id`, 
			`funding_id`, 
			`link_url`, 
			`type`, 
			`desc`, 
			`created_at`, 
			`updated_at`
		)
		values
		(
			#{id}, 
			#{fundingId}, 
			#{linkUrl}, 
			#{type}, 
			#{desc}, 
			#{createdAt}, 
			#{updatedAt}
		)
	</insert>
	 
	<update id="update" parameterType="com.yale.zc.funding.bean.FundingLink">
		update funding_link 
		<set>
			<if test="fundingId != null">`funding_id` = #{fundingId}, </if>
			<if test="linkUrl != null">`link_url` = #{linkUrl}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="desc != null">`desc` = #{desc}, </if>
			<if test="createdAt != null">`created_at` = #{createdAt}, </if>
			<if test="updatedAt != null">`updated_at` = #{updatedAt}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from funding_link where id = #{value}
	</delete>


	<delete id="deleteByFundingId">
		delete from funding_link where funding_id = #{value}
	</delete>

	<delete id="deleteBatch">
		delete from funding_link where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>